@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #141414;
}

.custom-wallet-button {
  background-color: #4caf50 !important; /* Change to your desired color */
  color: white !important; /* Change the text color */
  border: none !important; /* Remove border if needed */
  border-radius: 8px !important; /* Adjust border radius */
  padding: 8px 16px !important; /* Adjust padding */
  font-size: 14px !important; /* Adjust font size */
  cursor: pointer !important;
}
}
input {
    all: unset; /* Resets all inherited and default styles */
    box-sizing: border-box; /* Ensures consistent box-sizing */
    border: solid 1px;
    border-color: #232323;
    border-radius: 6px;
    padding: 8px 12px;
    margin-top: 12px;
    color: #CDCDCD;
  }
  input:focus {
    border: 1px solid #38b2ac;
    outline: none;
    color: #CDCDCD;
    opacity: 80;
  }

  /* For most modern browsers */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* For Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
html {
    scroll-behavior: smooth;
}
